@import '../../variables';
@import '../../mixins';

%ui-context-menu {
  @extend %ui-container;
  @include hidden-animated($animation-duration-short);

  backdrop-filter: blur(10px);
  background-color: transparentize($color-background-menu, 0.15);
  border-radius: $border-radius;
  box-shadow: 0 0 3px 0 transparentize($color: $color-black, $amount: 0.75);
  color: $color-primary;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-medium;
  min-width: 14em;
  overflow: hidden;
  padding: 0;
  position: absolute;
  z-index: 101;

  &.#{$prefix}-hidden {
    pointer-events: none;
  }
}

.#{$prefix}-ui-context-menu {
  @extend %ui-context-menu;
}

.#{$prefix}-ui-context-menu-item {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: block;
  font: inherit;
  height: auto;
  min-width: 100%;
  padding: 0.7rem 1rem;
  text-align: left;
  width: 100%;

  &:hover {
    background-color: transparentize($color-primary, 0.9);
  }

  &.#{$prefix}-ui-context-menu-item-noninteractive {
    cursor: default;

    &:hover {
      background-color: transparent;
    }
  }
}

.#{$prefix}-ui-context-menu-separator {
  background-color: transparentize($color-primary, 0.85);
  height: 1px;

  > .#{$prefix}-container-wrapper {
    display: none;
  }
}
